header {
    background-color: cornflowerblue;
    color: white;

}

header h1 {
    text-align: center;
}

.btn {
    margin: 10px;
    background-color: cornflowerblue;
    color: white;
}


  